@page
@model Azure_Application_Learning.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment SLots";
}



<div class="text-center">
    <h1 class="display-4">Welcome to Deployment Slots in Azure </h1>
    <h3>
        We are here to look around deploymnet slots
    </h3>
</div>
