@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure for .Net Developers </h1> 
    <h3>
        We are here to learn about different Azure and .Net Core Devlopement
    </h3>
</div>
